@page
@model Mission9.Pages.ConfirmationModel
@{
}


<div class="text-center">
    <h2>Thank you!! You will recieve and email with a tracking number in 2-3 days!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>